.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353b48;
    color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    display: none;
}

.result .won-text {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.result .won-text p {
    font-weight: bold;
    margin: 0 7px;
}

.btnRestart {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.btnRestart button {
    font-size: 15px;
    font-weight: 400;
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: #7f8fa6;
    border-radius: 5px;
    color: white;
    cursor: pointer; 
    transition: all 0.3s ease;
}

.btnRestart button:hover {
    transform: scale(0.9);
}